* {
  margin: 0;
  padding: 0;
  
}
html {
  background-color: #efefef;
}

.ejercicio7 {
  background-color:rgba(51, 243, 243, 0.774);
  width: 70%;
  height: 300px;
  margin-top: 50px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.ejercicio7 button {
  width: 200px;
  border-radius: 15px; 
}